.container {
  max-width: 600px;
  margin: 0 auto;
}

.form-label {
  font-weight: bold;
}

.form-control {
  padding: 0.5rem;
}

.btn {
  margin-top: 1rem;
}

.text-center {
  text-align: center;
}
/* styles.css o tu archivo de estilos */
.table-responsive {
  overflow-x: auto;
  max-width: 100%;
}

.table {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
