

.header-container {
  background: linear-gradient(to right, #0066cc, #003399); /* Degradado azul */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.header-container h1 {
  font-size: 2rem; /* Tamaño de fuente */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Sombra del texto */
}
.logo-img {
  max-width: 100px; /* Ajusta el tamaño máximo del logo */
  height: auto; /* Mantén la proporción original del logo */
  border-radius: 30%; /* Hace que los bordes sean redondos */
  display: block; /* Asegura que el logo se centre correctamente */
  margin: 0 auto; /* Centra el logo horizontalmente */
}
